@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}